ADMIN_NAME=Admin Putroe Shop
ADMIN_EMAIL=admin@putroeshop.com
ADMIN_USERNAME=ganti-username-admin
ADMIN_PASSWORD=ganti-password-admin
ALLOW_PUBLIC_REGISTRATION=false
COOKIE_SECURE=false
LOGIN_RATE_LIMIT_MAX=5
LOGIN_RATE_LIMIT_WINDOW_MS=900000
SESSION_MAX_AGE_SECONDS=604800