node_modules/
.env
infinityfree-upload/
infinityfree-upload.zip
database/sessions.json
database/store.db
database/store.db-shm
database/store.db-wal
Screenshots/
desktop.ini
npm-debug.log*
yarn-debug.log*
yarn-error.log*